@media (max-width: 480px) {
  table {
	width: 100%;  
    font-size: 10px;
	
  }
  .textomobile {
	font-size: 10px;
  }
  
}

.graficopizzamobile{
    width: 50%;
}
@media (max-width: 480px) {
  .graficopizzamobile{
    width: 100%;
  }
}


.chart-container {
	width: 600px;
	height: 300px;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 40px;
}

@media (max-width: 480px) {
	.chart-container {
	height: 40vh;
	width: 99vw;
	}
}
	


