/* to top */
#toTop {
width:50px;  /* Largura do botão*/ 
height:50px; /*Altura do botão*/
background: transparent; /*Cor do fundo do botão*/ 
padding:5px; /* Distancia entre texto e borda */ 
position:fixed; /* Posição que faz com que ele corra por toda a página*/ 
bottom:50px;  
right:50px; 
cursor:pointer; 
opacity:0.3; /*Definição para opacidade da imagem*/
}


